<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>This is a login Page</h1>
    <!-- <% include('common/header.ejs')%>
    <%= include('common/header.ejs')%> -->
    <%- include('common/header.ejs')%>
</body>
</html>