<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Wecome <%=user.name%></h1>
    <h1>Email: <%=user.email%></h1>
    <h1>city: <%=user.city%></h1>
    <ul>
        <% user.skills.forEach((item)=>{ %>
                <li><%= item %></li>
            <% }) %>
                    
    </ul>
</body>
</html>