body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

label {
    display: inline-block; /* Change to inline-block for horizontal alignment */
    margin-bottom: 5px;
    margin-right: 10px; /* Add some space between labels */
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.radio-group {
    margin-bottom: 15px;
}
#heading {
    color: #333;
    text-align: center;
    margin-top: 20px;
}