<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body class="bg-purple">
    <div class="stars">
      <div class="central-body">
        <img class="image-404" src="../static/images/404.svg" width="300px" />
        <a
          href="form.html"
          class="btn-go-home"
          target="_blank"
          >GO BACK TO LOGIN</a
        >
      </div>
      <div class="objects">
        <img class="object_rocket" src="../static/images/rocket.svg" width="40px" />
        <div class="earth-moon">
          <img class="object_earth" src="../static/images/earth.svg" width="100px" />
          <img class="object_moon" src="../static/images/moon.svg" width="80px" />
        </div>
        <div class="box_astronaut">
          <img
            class="object_astronaut"
            src="../static/images/astronaut.svg"
            width="140px"
          />
        </div>
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </body>
</html>
